@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background: rgb(18,167,167);
background: linear-gradient(90deg, rgba(18,167,167,1) 53%, rgba(17,169,180,1) 62%);
}
body {
  padding: 0;
  margin: 0;
}